.parent {
  width: 200px;
  height: 150px;
  background-color: rosybrown;
  margin: 20px;
  padding: 20px;
  overflow: auto;
}
.child {
  width: 300px;
  height: 100px;
  background-color: royalblue;
}
body {
  margin: 20px;
}

span {
  display: block;
  width: 120px;
  height: 30px;
  background-color: royalblue;
  color: white;
}

a {
  display: block;
  width: 200px;
  height: 100px;
  background-color: antiquewhite;
  font-size: 22px;
  color: white;
  text-decoration: line-through;
  line-height: 100px;
  text-align: center;
  text-indent: 100px;
}

p {
  font-size: 22px;
  text-indent: 150px;
}
